.Calculator{
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.Calculator div{
   
    max-width: 180px;
    margin: auto;
    
   
}
.Border{
    border: 3px solid #575757;
    padding: 4px 2px;

}
.Calculator div div{
    
    display: flex;
    max-width: 180px;
    padding: 2px 0;
    margin: auto;
}
.Calculator div div div{
    padding: 5px 5px;
    background-color: #343434;
    width: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
.Calculator div div div:hover{
    cursor: pointer;
    background-color: gray;
}
.InputDiv{
    background-color: #575757;
    color: white;
    width: 166px;
    height: 60px;
    padding-left: 10px !important;
    align-items: center;
    margin-bottom: 2px !important;
}
.Jednako{
    background-color: #336389 !important;
    width: 75px !important;
    color: red;
}
.Jednako:hover{
    background-color: #4282be !important;
}